header {
  background-color: bisque;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
}

.title {
  margin: 0;
}

body {
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0;
}

ul {
  width: 400px;
  margin: auto;
}

.threadList {
  list-style: none;
  text-align: center;
  margin: auto;
  border-style: solid;
  border-color: rgb(67, 69, 69);
  height: 40px;
}

.threadList+.threadList {
  border-top: none;
  border-color: rgb(67, 69, 69);
}

.newThreadButton {
  width: 400px;
  margin-top: 20px;
  margin-left: 40px;
}